Hello {{ nome }},

Two-factor authentication (2FA) has been disabled on your NOCA Arena account.

If you made this change, no further action is needed. We recommend re-enabling 2FA to keep your account secure.

If you did not disable 2FA, your account may be compromised. Please contact support immediately and re-enable 2FA as soon as possible.
