Hello {{ nome }},

{{ quantity }} AI review credit{{ 's' if quantity != '1' else '' }} have been added to your NOCA Arena account. Your new balance is {{ balance }} credit{{ 's' if balance != '1' else '' }}.

AI review credits can be used to request automated code reviews on your submissions.

If you have any questions, please contact support.
