Hello {{ nome }},

A backup code was used to access your NOCA Arena account. You have {{ remaining }} backup code(s) remaining.

If this was you, no further action is needed. Consider regenerating your backup codes from your profile if you are running low.

If you did not use a backup code to log in, your account may be compromised. Please contact support immediately and change your password.
