Hello {{ nome }},

Please confirm your email at Noca Arena by visiting the link below:

{{ url }}

This link expires in 24 hours.

If you did not create an account, you can safely ignore this message.
