Hello,

{{ nome }} created an account at {{ brand_name }} and indicated this address as the
email of a parent or legal guardian.

Please confirm parental consent by visiting the link below:

{{ url }}

You may withdraw this consent at any time. Once you have confirmed it, we will send you a
confirmation email containing the link to do so.

If you did not expect this message, you can ignore it and the account will
remain inactive.

{{ brand_name }}
