Hello,

{{ nome }} created an account at Noca Arena and indicated this address as the
email of a parent or legal guardian.

Please confirm parental consent by visiting the link below:

{{ url }}

If you did not expect this message, you can ignore it and the account will
remain inactive.

Noca Arena
