Yo, {{ fullname }}!

These are your {{ brand_name }} global administrator credentials.

Login page: {{ login_url }}
username: {{ username }}
password: {{ password }}

Remember to replace your password as soon as possible!

Best,
{{ sender_name }}
