Yo, {{ fullname }}!

These are your credentials for connecting on contest {{ contest_name }} running on Noca Contest.

Login page: {{ contest_login_url }}
username: {{ username }}
password: {{ password }}

Remember to replace your password as soon as possible!

Looking forward to see you! Best,
{{ sender_name }}
